/*
color-1: #3FC1C9
color-2: #364F6B
color-3: #F5F5F5
color-4: #FC5185
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #3fc1c9; }

.heading-primary {
  font-size: 6.4rem;
  letter-spacing: -2px;
  line-height: 1.2; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 0.4rem 2.6rem;
  cursor: pointer;
  transition: all 0.3s; }

.btn--outline {
  color: #3fc1c9;
  border: 2px solid #3fc1c9;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #3fc1c9 50%);
  background-size: 220%; }
  .btn--outline:hover {
    transform: translateX(3px);
    color: #fff;
    background-position: 100%; }
  .btn--outline:active {
    transform: translateY(3px); }

.btn--fill {
  color: #fff;
  background-color: #3fc1c9;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%; }
  .btn--fill:hover {
    transform: translateX(3px);
    color: #3fc1c9;
    background-position: 100%; }
  .btn--fill:active {
    transform: translateY(3px); }

.header {
  background-image: url(../../img/hero.jpg);
  background-position: top;
  background-size: cover;
  height: 100vh; }

.hero {
  position: relative; }
  .hero__heading {
    position: relative;
    top: 15rem;
    left: 15rem;
    width: 30%; }
  .hero__highlight-text {
    color: #fc5185; }

.section-directory {
  background-color: #364f6b; }

.navigation {
  font-size: 1.8rem; }
  .navigation__nav {
    display: flex;
    align-items: center;
    padding: 2.5rem 5rem; }
  .navigation__logo {
    display: inline-block;
    height: 4rem; }
  .navigation__list {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    margin-left: auto; }
  .navigation__link {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s;
    padding: 0.5rem 1rem; }
    .navigation__link:link, .navigation__link:visited {
      color: #3fc1c9; }
    .navigation__link:hover {
      color: #2c878d; }
    .navigation__link:active {
      transform: translateY(3px); }
  .navigation__search-box {
    margin: 0 2rem;
    display: flex;
    align-items: center; }
  .navigation__input {
    font-family: inherit;
    font-size: inherit;
    color: #3fc1c9;
    background-color: transparent;
    border: none;
    padding: 0.7rem 2rem;
    margin-right: -3.25rem;
    border-radius: 3px;
    transition: width 0.3s;
    width: 90%; }
    .navigation__input:focus {
      outline: none;
      width: 100%; }
    .navigation__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #f0eeee; }
  .navigation__search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s; }
    .navigation__search-button:focus {
      outline: none; }
    .navigation__search-button:active {
      transform: translateY(3px); }
  .navigation__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #3fc1c9; }
  .navigation__auth-box {
    display: flex;
    gap: 1.2rem; }
