/*
color-1: #3FC1C9
color-2: #364F6B
color-3: #F5F5F5
color-4: #FC5185
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  max-width: 120rem; }

.u-center-text {
  text-align: center !important; }

.u-padding-top-small {
  padding-top: 1.5rem; }

.u-padding-top-medium {
  padding-top: 4rem; }

.u-padding-top-top {
  padding-top: 8rem; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-grid-col-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  font-size: 6.4rem;
  letter-spacing: -2px;
  line-height: 1.2; }

.heading--secondary {
  font-weight: 100;
  font-size: 5rem; }
  .heading--secondary span {
    color: #333;
    font-weight: 500; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  border-radius: 33% 67% 27% 73% / 52% 49% 51% 48%;
  padding: 0.4rem 2.6rem;
  cursor: pointer;
  transition: all 0.3s; }

.btn--outline {
  color: #3fc1c9;
  border-radius: 74% 26% 38% 62% / 64% 49% 51% 36%;
  border: 2px solid #3fc1c9;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #3fc1c9 50%);
  background-size: 250%; }
  .btn--outline:hover {
    transform: translateX(3px);
    color: #fff;
    background-position: 95%; }
  .btn--outline:active {
    transform: translateY(3px); }

.btn--fill {
  color: #fff;
  border-radius: 53% 47% 67% 33% / 41% 29% 71% 59%;
  background-color: #3fc1c9;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%; }
  .btn--fill:hover {
    transform: translateX(3px);
    color: #3fc1c9;
    background-position: 100%; }
  .btn--fill:active {
    transform: translateY(3px); }

.search-box {
  background-color: #fff;
  border-radius: 1rem;
  transform: translateY(-50%); }
  .search-box__form {
    width: 100%;
    display: flex;
    align-items: center; }
  .search-box__input-field:not(:last-of-type) {
    border-right: 1px solid #ccc; }
  .search-box__input-field {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 5rem 0 3rem; }
  .search-box__label {
    font-family: inherit;
    font-size: 1.4rem;
    color: #777;
    font-weight: 500;
    margin-bottom: 0.5rem; }
  .search-box__input {
    font-family: inherit;
    font-size: 1.8rem;
    color: #333;
    border: none; }
    .search-box__input::-webkit-input-placeholder {
      font-family: inherit;
      color: #333; }
    .search-box__input:focus {
      outline: none; }
  .search-box__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 27% 73% 50% 50% / 52% 62% 38% 48%;
    background-color: #3fc1c9;
    height: 8rem;
    width: 8rem;
    margin: 0.8rem;
    cursor: pointer;
    transition: all 0.3s; }
    .search-box__btn:hover {
      background-color: #2c878d; }
    .search-box__btn:active {
      transform: translateY(2px); }
  .search-box__icon {
    height: 3rem;
    width: 3rem;
    fill: #fff; }

.directory {
  display: flex;
  flex-direction: column;
  align-items: center; }

.directories {
  display: flex;
  color: #ccc;
  font-size: 1.8rem;
  margin-bottom: 4rem; }
  .directories__link-box:not(:last-child) {
    margin-right: 4rem; }
  .directories__link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 6.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: all 0.4s;
    cursor: pointer;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #3fc1c9 50%);
    background-size: 240%; }
    .directories__link-box:hover {
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      background-position: 100%;
      transform: scale(1.05); }
    .directories__link-box:active {
      transform: translateY(2px); }
  .directories__link-box:hover .directories__icon,
  .directories__link-box:hover .directories__title {
    color: #fff;
    fill: #fff; }
  .directories__icon {
    height: 7rem;
    width: 7rem;
    margin: 1rem;
    fill: #ccc; }
  .directories__title {
    text-transform: uppercase; }

.breeds {
  display: flex;
  flex-direction: column;
  align-items: center; }

.gallery {
  column-gap: 4rem;
  row-gap: 4rem; }
  .gallery__breeds-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    cursor: pointer; }
    .gallery__breeds-box::after {
      content: '';
      height: 65%;
      width: 65%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -10;
      background-image: linear-gradient(to right bottom, #79d4d9, #3fc1c9);
      border-radius: 34% 66% 48% 52% / 36% 29% 71% 64%;
      transition: all 0.4s 0.1s;
      opacity: 0; }
    .gallery__breeds-box:hover::after {
      opacity: 1; }
  .gallery__photo {
    height: 15rem;
    width: 15rem; }
  .gallery__name {
    font-size: 1.2rem; }
  .gallery__btn {
    display: inline-block;
    font-size: 1.8rem;
    padding: 0.3rem;
    transition: all 0.2s; }

.business {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .business__cards {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5rem; }
  .business__card {
    height: 30rem;
    border-radius: 0.7rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    position: relative;
    cursor: pointer;
    transition: all 0.3s; }
    .business__card:hover {
      box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.1);
      transform: scale(1.05) translateY(-1rem); }
  .business__image {
    border-radius: 0.7rem;
    height: 100%;
    width: 100%;
    transition: all 0.3s; }
  .business__contents {
    width: 90%;
    background-color: #fff;
    border-radius: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 10%);
    z-index: 100;
    padding: 1rem 2rem; }
  .business__date {
    font-size: 1.8rem;
    text-transform: uppercase; }
  .business__preview-text {
    color: #333;
    font-size: 1.6rem; }
  .business__btn {
    font-size: 1.8rem; }

.features {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .features__cards {
    display: flex;
    gap: 5rem; }
  .features__card {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 37rem;
    border-radius: 1.2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
    transition: all 0.3s; }
    .features__card:hover {
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.1); }
  .features__photo {
    height: 50%;
    background-size: cover;
    background-position: top; }
    .features__photo--1 {
      background-image: url(../../img/feature-cats/feature-cat-01.webp); }
    .features__photo--2 {
      background-image: url(../../img/feature-cats/feature-cat-02.webp); }
    .features__photo--3 {
      background-image: url(../../img/feature-cats/feature-cat-03.webp); }
    .features__photo--4 {
      background-image: url(../../img/feature-cats/feature-cat-04.webp); }
  .features__like-icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1.5rem; }
    .features__like-icon--active {
      fill: #fc5185; }
  .features__contents {
    position: relative;
    height: 50%;
    background-color: #fff;
    padding: 2rem; }
  .features__user-image {
    display: inline-block;
    width: 5rem;
    border-radius: 50%;
    border: 4px solid #fff;
    position: absolute;
    top: 0;
    right: 2rem;
    transform: translateY(-50%); }
  .features__location {
    display: flex;
    flex-direction: column; }
    .features__location > * {
      margin-bottom: 1rem; }
  .features__location-box {
    display: flex;
    align-items: flex-end; }
  .features__location-text {
    color: #bbb;
    font-size: 1.4rem; }
  .features__icon {
    width: 3rem;
    height: 3rem;
    fill: #bbb;
    margin-right: 0.3rem; }
  .features__user-text {
    font-size: 1.8rem;
    color: #333; }
  .features__price {
    color: #bbb;
    font-size: 2rem; }
  .features__btn {
    font-size: 1.8rem;
    color: #fff;
    border-radius: 74% 26% 38% 62% / 64% 49% 51% 36%;
    border: 2px solid #fff;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%; }
    .features__btn:hover {
      transform: translateX(3px);
      color: #3fc1c9;
      background-position: 95%; }
    .features__btn:active {
      transform: translateY(3px); }

.products {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .products__heading {
    color: #fff; }
    .products__heading span {
      color: #fff; }
  .products__list {
    display: flex;
    position: relative;
    gap: 5rem; }
  .products__btn {
    font-size: 1.8rem;
    color: #fff;
    border-radius: 74% 26% 38% 62% / 64% 49% 51% 36%;
    border: 2px solid #fff;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%; }
    .products__btn:hover {
      transform: translateX(3px);
      color: #364f6b;
      background-position: 95%; }
    .products__btn:active {
      transform: translateY(3px); }
  .products__arrow {
    position: absolute;
    padding: 1rem;
    color: #fff;
    font-size: 4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s; }
    .products__arrow:active {
      transform: translateY(2%); }
    .products__arrow--right {
      top: 50%;
      right: -15rem;
      transform: translateY(-50%); }
    .products__arrow--left {
      top: 50%;
      left: -15rem;
      transform: translateY(-50%); }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;
  overflow: hidden;
  width: 22rem;
  transition: all 0.3s;
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.25); }
  .card:hover {
    transform: scale(1.05) translate(-5px); }
  .card__image {
    display: block;
    width: 100%; }
  .card__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 1rem 1rem 2rem;
    font-size: 1.4rem; }
  .card__title {
    text-align: center;
    color: #333;
    font-weight: 100; }
  .card__price {
    color: #777; }
  .card__like-icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1.5rem; }
    .card__like-icon--active {
      fill: #fc5185; }

.magazine {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; }
  .magazine__hero {
    height: 50rem;
    width: 100%;
    position: relative; }
  .magazine__heading {
    position: absolute;
    top: 3rem;
    right: 15rem;
    font-size: 10rem;
    font-weight: 100;
    color: #333;
    letter-spacing: -5px;
    z-index: 100; }
  .magazine__hero-img-box {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    overflow: hidden;
    width: 60%; }
  .magazine__image {
    display: block;
    width: 100%; }
  .magazine__feature {
    background-color: #fff;
    position: absolute;
    width: 50%;
    top: 22rem;
    right: -5rem; }
  .magazine__articles {
    display: flex;
    gap: 5rem;
    position: relative; }
  .magazine__arrow {
    position: absolute;
    padding: 1rem;
    color: #ccc;
    font-size: 4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s; }
    .magazine__arrow:active {
      transform: translateY(2%); }
    .magazine__arrow--right {
      top: 50%;
      right: -15rem;
      transform: translateY(-50%); }
    .magazine__arrow--left {
      top: 50%;
      left: -15rem;
      transform: translateY(-50%); }
  .magazine__btn {
    font-size: 1.8rem;
    color: #fff;
    border-radius: 74% 26% 38% 62% / 64% 49% 51% 36%;
    border: 2px solid #fff;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%; }
    .magazine__btn:hover {
      border: 2px solid #3fc1c9;
      transform: translateX(3px);
      color: #364f6b;
      background-position: 95%; }
    .magazine__btn:active {
      transform: translateY(3px); }

.feature-box {
  display: flex;
  flex-direction: column;
  padding: 4rem; }
  .feature-box__date {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 2.5rem; }
  .feature-box__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333; }
  .feature-box__paragraph {
    font-size: 1.8rem; }

.articleCard {
  height: 30rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 2px solid #f0eeee;
  overflow: hidden;
  position: relative;
  cursor: pointer; }
  .articleCard:hover {
    border-bottom: 2px solid #3fc1c9; }
  .articleCard:hover .articleCard__contents {
    background-color: #3fc1c9;
    color: #fff; }
  .articleCard:hover .articleCard__contents .articleCard__date {
    color: #fff; }
  .articleCard__image-box {
    height: 95%;
    width: 100%; }
  .articleCard__image {
    height: 100%;
    width: 100%; }
  .articleCard__bottom {
    background-color: #fff; }
  .articleCard__contents {
    width: 90%;
    background-color: #fff;
    border-radius: 0.7rem;
    color: #333;
    transition: all 0.5s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 10%);
    z-index: 100;
    padding: 1rem 2rem; }
  .articleCard__date {
    color: #ccc;
    font-size: 1.8rem;
    text-transform: uppercase; }
  .articleCard__preview-text {
    color: inherit;
    font-size: 1.6rem; }

.header {
  background-image: url(../../img/hero.jpg);
  background-position: top;
  background-size: cover;
  height: 80vh; }

.hero {
  position: relative; }
  .hero__heading {
    position: relative;
    top: 10rem;
    left: 15rem;
    width: 30%; }
  .hero__highlight-text {
    color: #fc5185; }

.section-directory {
  background-color: #364f6b; }

.section-breeds {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0; }

.section-features {
  color: #fff;
  background-color: #3fc1c9;
  padding: 10rem 0; }

.section-business {
  color: #999;
  padding: 10rem 0; }

.section-products {
  background-color: #364f6b;
  padding: 10rem 0; }

.section-magazine {
  padding: 10rem 0;
  margin-bottom: 30rem; }

.navigation {
  font-size: 1.8rem; }
  .navigation__nav {
    display: flex;
    align-items: center;
    padding: 2.5rem 5rem; }
  .navigation__logo {
    display: inline-block;
    height: 4rem; }
  .navigation__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-left: auto; }
  .navigation__link {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s;
    padding: 0.5rem 1rem; }
    .navigation__link:link, .navigation__link:visited {
      color: #3fc1c9; }
    .navigation__link:hover {
      color: #2c878d; }
    .navigation__link:active {
      transform: translateY(3px); }
  .navigation__search-box {
    margin: 0 2rem;
    display: flex;
    align-items: center; }
  .navigation__input {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    color: #3fc1c9;
    background-color: transparent;
    border: none;
    margin-right: -3.25rem;
    border-radius: 3px;
    transition: width 0.3s;
    width: 90%; }
    .navigation__input:focus {
      outline: none;
      width: 100%; }
    .navigation__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #f0eeee; }
  .navigation__search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s; }
    .navigation__search-button:focus {
      outline: none; }
    .navigation__search-button:active {
      transform: translateY(3px); }
  .navigation__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #3fc1c9;
    transition: all 0.2s; }
    .navigation__icon:hover {
      fill: #2c878d; }
  .navigation__auth-box {
    display: flex;
    align-items: center;
    gap: 1.2rem; }
