/*
color-1: #3FC1C9
color-2: #364F6B
color-3: #F5F5F5
color-4: #FC5185
*/

// COLOR
$color-primary: #3fc1c9;
$color-primary-light: #79d4d9;
$color-primary-dark: #2c878d;

$color-blue: #364f6b;

$color-red: #fc5185;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
$color-grey-light-5: #bbb;

$color-black: #000;
$color-white: #fff;

// Shadow
$default-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
