.navigation {
  font-size: $default-font-size;

  @include respond(tab-land) {
    visibility: hidden;
  }

  &__nav {
    display: flex;
    align-items: center;
    padding: 2.5rem 5rem;
  }

  &__logo {
    display: inline-block;
    height: 4rem;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.5rem;
    margin-left: auto;

    @include respond(tab-land) {
      gap: 2rem;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s;
    padding: 0.5rem 0;
    position: relative;

    &::after {
      content: '';
      padding: 0 2rem;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $color-primary-dark;

      transition: inherit;
      transform: scaleX(0);
    }

    &:link,
    &:visited {
      color: $color-primary;
    }

    &:hover {
      color: $color-primary-dark;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &:active {
      transform: translateY(3px);
    }
  }

  &__search-box {
    margin: 0 2rem;
    display: flex;
    align-items: center;
  }

  &__input {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    color: $color-primary;
    background-color: transparent;
    border: none;

    margin-right: -3.25rem;
    border-radius: 3px;
    transition: width 0.3s;
    width: 90%;

    &:focus {
      outline: none;
      width: 100%;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-grey-light-3;
    }
  }

  &__search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(3px);
    }
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-primary;
    transition: all 0.2s;

    &:hover {
      fill: $color-primary-dark;
    }
  }

  &__auth-box {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
}

.sticky .navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  background-color: rgba($color-white, 0.95);
  box-shadow: $default-box-shadow-light;
  height: 9.2rem;
}

.mobileNav {
  position: fixed;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
  visibility: hidden;

  // @include respond(tab-land) {
  //   visibility: visible;
  // }

  &__open-icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: $color-primary;
  }
}
