.contact-form {
  display: flex;
  align-items: center;
  background-color: $color-white;
  color: $color-grey-dark;
  padding: 5px;
  width: 100%;

  border-radius: 3px;

  &__input {
    width: 100%;
    display: inline-block;
    border: none;
    height: 100%;
    padding: 5px 10px;

    color: inherit;
    font-size: inherit;
    font-family: inherit;

    &::-webkit-input-placeholder {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
    }

    &:focus {
      outline: none;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey-dark-3;
    border: none;
    border-radius: inherit;
    cursor: pointer;
    transition: all 0.3s;

    padding: 0.8rem;

    &:hover {
      background-color: $color-primary;
    }

    &:active {
      transform: translateX(-3px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-white;
  }
}
