.directory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directories {
  width: 100%;
  display: flex;
  color: $color-grey-light-4;
  font-size: $default-font-size;
  justify-content: space-between;

  @include respond(tab-land) {
    justify-content: space-around;
  }

  @include respond(phone) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 3rem;
  }

  &__link-box {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 5rem;
    border-radius: 10px;
    // border-radius: 57% 43% 50% 50% / 54% 40% 60% 46%;
    border: 1px solid $color-grey-light-4;
    transition: all 0.4s;

    cursor: pointer;

    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      $color-primary 50%
    );
    background-size: 300%;

    @include respond(phone) {
      width: 50%;
    }
    &:hover {
      // background-color: $color-primary;
      box-shadow: $default-box-shadow;
      background-position: 100%;
      transform: scale(1.05);
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__link-box:hover &__icon,
  &__link-box:hover &__title {
    color: $color-white;
    fill: $color-white;
  }

  &__icon {
    height: 7rem;
    width: 7rem;
    margin: 1rem;
    fill: $color-grey-light-4;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
  }
}
