.features {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // gap: 5rem;
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 37rem;
    border-radius: 1.2rem;
    box-shadow: $default-box-shadow;
    overflow: hidden;

    position: relative;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05) translateY(-5px);
      box-shadow: $default-box-shadow-light;
    }
  }

  &__photo {
    height: 50%;
    background-size: cover;
    background-position: top;

    &--1 {
      background-image: url(../../img/feature-cats/feature-cat-01.webp);
    }
    &--2 {
      background-image: url(../../img/feature-cats/feature-cat-02.webp);
    }
    &--3 {
      background-image: url(../../img/feature-cats/feature-cat-03.webp);
    }
    &--4 {
      background-image: url(../../img/feature-cats/feature-cat-04.webp);
    }
  }

  &__like-icon {
    width: 3rem;
    height: 3rem;

    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1.5rem;

    &--active {
      // background-color: red;
      fill: $color-red;

      // -webkit-mask-image: url(../../img/sprite.svg#icon-heart-outlined);
      // mask-image: url(../../img/sprite.svg#icon-heart-outlined);
    }
  }

  &__contents {
    position: relative;
    height: 50%;
    background-color: $color-white;
    padding: 2rem;
  }

  &__user-image {
    display: inline-block;
    width: 5rem;
    border-radius: 50%;
    border: 4px solid $color-white;

    position: absolute;
    top: 0;
    right: 2rem;
    transform: translateY(-50%);
  }

  &__location {
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 1rem;
    }
  }

  &__location-box {
    display: flex;
    align-items: flex-end;
  }

  &__location-text {
    color: $color-grey-light-5;
    font-size: 1.4rem;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    fill: $color-grey-light-5;
    margin-right: 0.3rem;
  }

  &__user-text {
    font-size: 1.8rem;
    color: $color-grey-dark-3;
  }

  &__price {
    color: $color-grey-light-5;
    font-size: 2rem;
  }

  &__btn {
    font-size: $default-font-size;
    color: $color-white;

    border-radius: 74% 26% 38% 62% / 64% 49% 51% 36%;
    border: 2px solid $color-white;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      $color-white 50%
    );
    background-size: 230%;

    &:hover {
      transform: translateX(3px);
      color: $color-primary;
      background-position: 95%;
    }

    &:active {
      transform: translateY(3px);
    }
  }
}
