.gallery {
  // max-width: 114rem;
  width: 100%;
  // justify-content: space-between;
  column-gap: 5rem;
  row-gap: 4rem;

  @include respond(tab-port) {
    column-gap: 4rem;
    row-gap: 3rem;
  }

  @include respond(phone) {
    column-gap: 3rem;
    row-gap: 2rem;
  }

  &__breeds-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      height: 65%;
      width: 65%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -10;

      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary
      );
      border-radius: 34% 66% 48% 52% / 36% 29% 71% 64%;

      transition: all 0.4s 0.1s;
      opacity: 0;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &__breeds-box:hover &__name::before {
    transform: scaleX(1);
  }

  &__photo {
    height: 15rem;
    width: 15rem;
  }

  &__name {
    display: inline-block;
    position: relative;
    font-size: $font-size-medium;

    transition: inherit;

    &::before {
      content: '';
      background-color: $color-primary;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      transform: scaleX(0);
      transition: all 0.3s;
    }
  }

  &__btn {
    display: inline-block;
    font-size: $default-font-size;
    padding: 0.3rem;
    transition: all 0.2s;
  }
}
