.header {
  background-image: url(../../img/hero.jpg);
  background-position: top;
  background-size: cover;
  // Test
  height: 80vh;
}

.hero {
  position: relative;

  &__heading {
    position: relative;
    top: 10rem;
    left: 15rem;
    width: 30%;
  }

  &__highlight-text {
    color: $color-red;
  }
}

.section-directory {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-blue;
}

.section-breeds {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  // margin-bottom: 50rem;
}

.section-features {
  color: $color-white;
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 10rem;
  // margin-bottom: 30rem;
}

.section-business {
  color: $color-grey-dark-2;
  // background-color: orangered;
  padding-bottom: 10rem;
}
