.header {
  background-image: url(../../img/hero.jpg);
  background-position: top;
  background-size: cover;
  // Test
  height: 80vh;

  position: relative;
}

.hero {
  position: relative;

  &__heading {
    position: relative;
    top: 12.5rem;
    left: 15rem;
    // width: 35%;

    @include respond(tab-port) {
      top: 6rem;
      left: 10rem;
    }
  }

  &__highlight-text {
    color: $color-red;
  }
}

.section-directory {
  background-color: $color-blue;
}

.section-breeds {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-features {
  color: $color-white;
  background-color: $color-primary;

  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-business {
  color: $color-grey-dark-2;
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-products {
  background-color: $color-blue;
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.section-magazine {
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}
